
<div class="form-group">
	<label>Event Name</label>
	<input name="eventName" value="$!event.name" class="form-control" data-required="true" data-msg="Please enter event name.">
</div>

<div class="form-group">
	<label>Event Description</label>
    <textarea name="eventDescription" class="form-control">$!event.description</textarea>
</div>
	
<div class="row form-group">
	<div class="col-sm-6">
		<label>Date From</label>
		<input name="fromDate" value="$!event.fromDateStr" data-required="true" data-msg="Please enter from date" type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" inputmode="numeric">
	</div>
	<div class="col-sm-6">
		<label>Date To</label>
		<input name="toDate" value="$!event.toDateStr" data-required="true" data-msg="Please enter to date" type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" inputmode="numeric">
	</div>
</div>

<div class="form-group">
	<label>Holiday?</label>
    <select name="eventIsHoliday" class="form-control">
		<option value="">No</option>
		<option value="1" #if ( $event.holiday ) selected #end>Yes</option>
	</select>
</div>

<div class="form-group" style="text-align:right">
	#if ( $event )
	<button type="button" class="btn btn-primary" onclick="saveData2('updateEvent','div_main','eventId=$event.id')">Update&nbsp;<i class="fa fa-floppy-o" aria-hidden="true"></i></button>		
	#else
	<button type="button" class="btn btn-success" onclick="saveData2('saveNewEvent','div_main','')">Save&nbsp;<i class="fa fa-floppy-o" aria-hidden="true"></i></button>
	#end
</div>

	
<script>
_jq(document).ready(function() {
	Inputmask().mask(document.querySelectorAll("input"));
});
</script>