<div style="text-align:right">
	<button type="button" class="btn btn-primary" onclick="sendAjax('addNewEvent','div_main','')">Add New Holiday&nbsp;<i class="fa fa-plus" aria-hidden="true"></i></button>
</div>

<div style="margin:20px">
	
<table class="table">
	<tr>
		<th style="width:10px"></th>
		<th>Name</th>
		<th style="text-align:center">From</th>
		<th style="text-align:center">To</th>
		<th style="text-align:center">Days</th>
		<th style="text-align:center">Holiday</th>
		<th>States</th>
		<th></th>
	</tr>
	#foreach ( $event in $events )
		<tr>
			<td>$velocityCount.</th>
			<td>$event.name</td>
			<td style="text-align:center">$event.fromDateStr</td>
			<td style="text-align:center">$event.toDateStr</td>
			<td style="text-align:center">$event.numberOfDays</td>
			<td style="text-align:center">
				#if ( $event.holiday ) Yes #else No #end
			</td>
			<td>
			#if ( $event.states.size() > 1 )
				#if ( $event.states.size() == 16 )
					All
				#else
					$event.states.size() states
				#end
			#elseif ( $event.states.size() == 1 )
				$event.states.get(0).name
			#end
			</td>
			<td style="text-align:right">
            	<div class="btn-group">
            		<button type="button" class="btn btn-default btn-xs" onclick="sendAjax('editEvent', 'div_main', 'eventId=$event.id')"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            
            		<button type="button" class="btn btn-confirmation btn-default btn-xs"  data-toggle="modal" data-target="#confirmation" onclick="sendAjaxConfirm('Confirm', 'Are you sure to delete this data?', 'deleteEvent','div_main','eventId=$event.id')">
            			<i class="fa fa-trash-o" aria-hidden="true"></i>
            		</button>
            	</div>	
			</td>
		</tr>
	#end
</table>
	
</div>