<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    
        <property name="hbm2ddl.auto">update</property> 
		
		<!--  HIKARI -->
		
		<property name="connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>
		<property name="hibernate.hikari.minimumIdle">5</property> 
		<property name="hibernate.hikari.maximumPoolSize">10</property>
		<property name="hibernate.hikari.idleTimeout">3000</property> 
		
		
             
        <mapping class="lebah.db.entity.User"/>
        <mapping class="lebah.db.entity.Role"/>
        <mapping class="lebah.db.entity.Module"/>
        <mapping class="lebah.db.entity.RoleModule"/>
        <mapping class="lebah.db.entity.Menu"/>
        <mapping class="lebah.db.entity.Log"/>
        
        
    </session-factory>
</hibernate-configuration>
