<!DOCTYPE html>
<html>
<title>LeBAH</title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
<link rel="icon" href="../favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="../style/default.css" />

#parse("vtl/main/js_css.vm")

</head>
<body  style="">
<div>

<div id="navbar">

	
	<div id="app_title" style="float:left;">
		#if ( $_logged_in )
		<span class="openbtn" onclick="toggleNav()"><i class="fa fa-bars" aria-hidden="true"></i></span>  
		#end
		## $!header
	</div>
	<div style="float:right;padding:2px;text-align:right">
		#if ( $_logged_in )
			
			#parse("vtl/main/user_logged_in.vm")
			
		#else
		
			<a href="javascript:void(0)" style="cursor:hand; cursor:pointer;color:#fff;font-family:Verdana;font-size:10pt;"  onclick="show_login()">Login</a>
			|
			<a href="javascript:void(0)" style="cursor:hand; cursor:pointer;color:#fff;font-family:Verdana;font-size:10pt;"  onclick="getPage('lebah.module.SignUpModule');">Sign Up</a>
		
		#end
	</div>

</div>

<div id="portalSideMenu" class="sidebar">

	<div class="sidebar-title" onclick="closeNav()">
  		&nbsp; LEBAH 
  	</div>
  	
	#if ( $_logged_in )
		#parse("vtl/main/menu_db.vm")
	#else
		#parse("vtl/main/menu_anon.vm")
	#end
	
  	<div id="bottom_text">
  		&copy; 2020
  	</div>
  	
</div>


<div id="main" class="divMainBody" style="">

	<div class="wrapper content content-body">
		<form id="__main_form" name="__main_form" method="post" enctype="multipart/form-data">
			<input type="hidden" name="command" id="command">
			<input type="hidden" name="__module_name" id="__module_name" style="width:500px">
			<input type="hidden" id="main_token" name="main_token" value="$!main_token">
			<div id="portal_main_view"></div>
			<div id="div_center" class="shadow"></div>
			<div id="div_empty"></div>
			#parse("vtl/main/modal-window.vm")
			#parse("vtl/main/modal-window2.vm")
			#parse("vtl/main/modal-confirmation.vm")

		</form>
	</div>
	
	<div style="margin-top:300px;text-align:center">
		##<a href="#" style="text-decoration:none" data-toggle="modal" data-target="#modalAbout">
		&copy; 2020.
		##</a>
	</div>

</div>

<iframe id="upload_document" name="upload_document" width="0px" height="0px" style="visibility:hidden"></iframe>

#parse("vtl/main/modal-login.vm")
#parse("vtl/main/modal-about.vm")



<script>
	
	var lastMenu;
	var isScrollTop = true;
	
	var _jq = jQuery.noConflict();
	
	function show_login() {
		_jq("#login_modal").modal();	
	}
	
	window.onscroll = function() {
		stickyNavBar()
	};

	var navbar = document.getElementById("navbar");
	var sticky = navbar.offsetTop;
	
	function stickyNavBar() {
		if (window.pageYOffset > sticky ) {
			navbar.classList.add("sticky")
		} else {
			navbar.classList.remove("sticky");
		}
		
	}

	function openNav() {
		var w = document.body.clientWidth;
		if ( w > 1000 ) {
			document.getElementById("portalSideMenu").style.width = "250px";
			document.getElementById("main").style.marginLeft = "250px";
			document.getElementById("app_title").style.marginLeft = "250px";
		} else {
			document.getElementById("portalSideMenu").style.width = "250px";
			document.getElementById("main").style.marginLeft = "0px";
			document.getElementById("app_title").style.marginLeft = "0px";
		}
	}

	function closeNav() {
		var w = document.body.clientWidth;
		document.getElementById("portalSideMenu").style.width = "0px";
		document.getElementById("main").style.marginLeft = "0";
		document.getElementById("app_title").style.marginLeft = "0";
	}
	
	function toggleNav() {
		if ( document.getElementById("portalSideMenu").style.width === "0px" || document.getElementById("portalSideMenu").style.width === "" )
			openNav();
		else
			closeNav();
	}
	
	function uploadFile(cmd, elementName, e, querystring) {
		document.getElementById(e).innerHTML = '<img src="../img/indicator.gif"> Uploading.. please wait... ';
		document.__main_form.enctype='multipart/form-data';
		document.__main_form.encoding ='multipart/form-data';
		document.__main_form.target='upload_document';
		
		var module_name = document.getElementById('__module_name').value;
		document.__main_form.action='../div/' + module_name + '?command=' + cmd + '&elementName=' + elementName + '&divUploadStatusName=' + e + '&' + querystring;
		document.__main_form.submit();
	}
	
	function sendAjaxConfirm(msgHeader, msgBody, action, div, param) {
		document.getElementById("modal-header").innerHTML = msgHeader;
		document.getElementById("modal-message").innerHTML = msgBody;
		document.getElementById("action").value = action;
		document.getElementById("div").value = div;
		document.getElementById("param").value = param;
	}
		
	function sendAjax2(action, div, param) {
		isScrollTop = false;
		sendAjax(action, div, param);
	}
	
	function sendAjaxQuiet(action, div, param) {
		isScrollTop = false;
		sendAjax(action, div, param);
	}
	
	function toggleSubMenu(e) {
		if ( document.getElementById(e).style.display == "none" ) {
			_jq('#' + e).slideDown('slow');
			document.getElementById('icon-' + e).innerHTML = '<i class="fa fa-angle-down fa-fw" aria-hidden="true"></i>';
		}
		else {
			_jq('#' + e).slideUp('slow');
			document.getElementById('icon-' + e).innerHTML = '<i class="fa fa-angle-right fa-fw" aria-hidden="true"></i>';
		}
	}
	
	function scrollTop() {
		if ( isScrollTop ) {
			_jq('body, html, #portal_main_view').scrollTop(0);
		}
		isScrollTop = true;
	}
	
	function menuSelect(e) {
		
		e.className='menu-selected';
		if ( typeof lastMenu !== "undefined" && lastMenu !== e ) lastMenu.className='menu-normal';
		lastMenu = e;
	}
	
	function showMyProfile() {
		$('a_my_profile').className='menu-selected';
		if ( typeof lastMenu !== "undefined" ) lastMenu.className='menu-normal';
		lastMenu = $('a_my_profile');
		getPage('lebah.module.UserProfileModule');
	}
	
	function showNotifyMessage(msg) {
		 _jq.jGrowl(msg, { position:'top-right', theme:'notify' });
	}
	
	function showWarningMessage(msg) {
		 _jq.jGrowl(msg, { position:'top-right', theme:'warning' });
	}

	function gotoExpiredPage() {
		document.location.href = "../expired.jsp";
	}
	
	//ON PAGE FIRST LOAD
	Event.observe(window, "load", onload, false);
	function onload(){
		
		#if ( $_logged_in )
			//getPage('mafex.modules.LandingPageModule');
			if (document.body.clientWidth > 1000 ) {
				openNav();
			}
			getPage('$firstPage');
		#else
			//let page_name = 'mafex.modules.LandingPageModule';
			//getPage(page_name);
			//show_login();
			//closeNav();
			getPage('lebah.module.LandingPageModule');
		#end


	}
	

	
	document.onkeydown = KeyCheck; 
	
	function KeyCheck(e)
	{
	   var KeyID = (window.event) ? event.keyCode : e.keyCode;
	   
	   //console.log("key check: " + KeyID);
  
	   switch(KeyID)
	   {
	      case 18: //Alt
	      alert('Disabled!');
	      break; 

	      case 17: //Ctrl
	      
	      break;
	      
	      //case 91: //Cmd
	      //alert('Disabled!');
	      //break;

	   }
	}
	
	function printPdf(url) {
		showNotifyMessage('Loading for printing... Please wait...');
		iframe = document.createElement('iframe');
		document.body.appendChild(iframe);
		iframe.style.display = 'none';
		iframe.onload = function() {
			setTimeout(function() {
				iframe.focus();
			    iframe.contentWindow.print();
			}, 100);
		};
		iframe.src = url;
	}
	
	function getUrl(url) {
		getPage(url);
		if (document.body.clientWidth < 1000 ) {
			closeNav();
		}
	}

</script>


</div>
</body>
</html>