<!-- Modal -->
<div class="modal" id="modalAbout" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body" id="div_modal_about">
			
				<div class="module_title_small">About</div>
				
				<div style="padding:20px">
				
					<p style="font-weight:bold">
					Shamsul Bahrin</br>
					sbahrin3@gmail.com</br>
					<a href="https://github.com/sbahrin3" target="_new">https://github.com/sbahrin3</a>
					</p>
			
				</div> 
			
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>