<script>
	console.log("*** THIS IS AJAX_MAIN.VM");
</script>

<div id="${targetName}">
<span id="W${targetName}" style="position:absolute;width:150px;"></span>

<form id="${formName}" name="${formName}" method="post" enctype="application/x-www-form-urlencoded">
#parse("$vmName")

<input id="command" name="command" type="hidden">
<input id="module_id" name="module_id" type="hidden" value="${moduleId}">
<input type="hidden" name="$formname" value="$formname">
		
##POPUP WINDOW

<style>
#popwin${formName} {
    position:fixed;
    top: 50%;
    left: 30%;
    width:500px;
    margin-top: -100px;
    border: 1px solid #ccc;
    padding:3px;
    background:#E8ECEF;
    display:none;
}
</style>

<div id="popwin${formName}" name="popwin${formName}">

<table width="100%" cellpadding="0" cellspacing="1" border="0" align="center">
<tr><td>

<table bgcolor="lightgrey" width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr height="25px">
		<td bgcolor="lightgrey" valign="bottom" style="cursor:hand; cursor:pointer;">
		<span id="handle_$formName">&nbsp;&nbsp;</span>
		</td>
		<td bgcolor="lightgrey" align="right" width="50px">
		<a href="#" onclick="close_popwin_$formName()"><b>Close</b></a>&nbsp;
		</td>
	</tr>	
</table>

</td></tr>

<tr><td>
<div id="win${formName}" name="win${formName}" style="width: 100%; overflow: auto;"></div>
</td></tr>

</table>
</div>


</form>

</div>

<script>
var cursorX;
var cursorY;

//preload image
image1 = new Image();
image1.src = "../img/loading1.gif";
image2 = new Image();
image2.src = "../img/wait-animated.gif";



$('W${targetName}').innerHTML ='';

document.onmousemove=getMouseCoordinates;

function getMouseCoordinates(event) {
  ev = event || window.event;
  cursorX = ev.pageX;
  cursorY = ev.pageY;
}


function popwin_$formName() {
	$('popwin$formName').style.display = "block";
  	##Effect.Appear('popwin${formName}', { duration: 0.5 });
}
								
function close_popwin_$formName() {
   Effect.Fade('popwin$formName' , { duration: 0.5 });
}


function doAjaxCall${formName}(actionName){
   #if ( $queryString && $queryString != "" )
   var url = '../y/${moduleId}?$queryString';
   #else
   var url = '../y/${moduleId}';
   #end
   
   var target = '${targetName}';
   doAjaxUpdater(document.${formName}, url, target, actionName);
 
   document.getElementById('${targetName}').innerHTML ='<table width="100%"><tr><td align="center"><img src="../img/wait-animated.gif"></td></tr><tr><td align="center">Please wait ...</td></tr></table>';    
   
}

function doAjaxCall${formName}(actionName, qs){


   #if ( $queryString && $queryString != "" )
   var url = '../y/${moduleId}?$queryString';
   #else
   var url = '../y/${moduleId}';
   #end
   var target = '${targetName}';
   
   doAjaxUpdater(document.${formName}, url, target, actionName, qs);

   document.getElementById('${targetName}').innerHTML ='<table width="100%"><tr><td align="center"><img src="../img/wait-animated.gif"></td></tr><tr><td align="center">Please wait ...</td></tr></table>';
   
}

function doDivAjaxCall${formName}(divName, actionName, qs){

   document.getElementById(divName).style.visibility = 'visible';
   document.getElementById(divName).style.display = 'block';
   
   var el = document.getElementById(divName);
   var d = document.createElement('div');
   d.setAttribute('id', 'div_wait_indicator');
   d.className = 'shadow';
   d.setAttribute('style', 'width:200px;height:200px;top:50%;left:50%;margin-top: -100px;margin-left: -100px;position:fixed;color:#000;background-color:#fff;z-index:9999;text-align:center;padding-top:40px;opacity: 0.5;filter: alpha(opacity=50)');
   d.innerHTML = "Please Wait...<br/><br/><img src='../img/loading1.gif' border='0' width='100px'>";
   d.style.display = 'block';
   el.appendChild(d);

   #if ( $queryString && $queryString != "" )
   		var url = '../div/${moduleId}?$queryString';
   #else
   		var url = '../div/${moduleId}';
   #end
   var target = divName;
   doAjaxUpdater(document.${formName}, url, target, actionName, qs);
  
}


function doPositionDivAjaxCall${formName}(divName, actionName, qs){

   document.getElementById(divName).style.visibility = 'visible';
   document.getElementById(divName).style.display = 'block';
   
   var el = document.getElementById(divName);
   var d = document.createElement('div');
   d.setAttribute('id', 'div_wait_indicator');
   d.className = 'shadow';
	d.setAttribute('style', 'width:200px;height:200px;top:50%;left:50%;margin-top: -100px;margin-left: -100px;position:fixed;color:#000;background-color:#fff;z-index:9999;text-align:center;padding-top:40px;opacity: 0.5;filter: alpha(opacity=50)');   
	d.innerHTML = "Please Wait...<br/><br/><img src='../img/loading1.gif' border='0' width='100px'>";
   d.style.display = 'block';
   el.appendChild(d);

   #if ( $queryString && $queryString != "" )
   var url = '../div/${moduleId}?$queryString';
   #else
   var url = '../div/${moduleId}';
   #end
   var target = divName;
   
   document.getElementById(divName).style.visibility = 'visible';
   document.getElementById(divName).style.top = cursorY;
   
   
   doAjaxUpdater(document.${formName}, url, target, actionName, qs);
   
   ##document.getElementById(divName).innerHTML ='<table width="100%" cellpadding="0" cellspacing="0"><tr><td align="center"><img src="../img/indicator.gif"></td></tr></table>';
}

function doDivAjaxChainCall${formName}(divName, actionName, qs, divName2, actionName2, qs2){

   document.getElementById(divName).style.visibility = 'visible';
   document.getElementById(divName).style.display = 'block';
   
   var el = document.getElementById(divName);
   var d = document.createElement('div');
   d.setAttribute('id', 'div_wait_indicator');
   d.className = 'shadow';
  d.setAttribute('style', 'width:200px;height:200px;top:50%;left:50%;margin-top: -100px;margin-left: -100px;position:fixed;color:#000;background-color:#fff;z-index:9999;text-align:center;padding-top:40px;opacity: 0.5;filter: alpha(opacity=50)');
   d.innerHTML = "Please Wait...<br/><br/><img src='../img/loading1.gif' border='0' width='100px'>";
   d.style.display = 'block';
   el.appendChild(d);

   #if ( $queryString && $queryString != "" )
   var url = '../div/${moduleId}?$queryString';
   #else
   var url = '../div/${moduleId}';
   #end
   
   doAjaxUpdaterChain(document.${formName}, url, divName, actionName, qs, divName2, actionName2, qs2);
}

function doDivAjaxCall2${formName}(divName, actionName, qs){

   //document.getElementById(divName).style.visibility = 'visible';
   //document.getElementById(divName).style.display = 'block';
   
   var el = document.getElementById(divName);
   var d = document.createElement('div');
   d.setAttribute('id', 'div_wait_indicator');
   d.className = 'shadow';
   d.setAttribute('style', 'width:200px;height:200px;top:50%;left:50%;margin-top: -100px;margin-left: -100px;position:fixed;color:#000;background-color:#fff;z-index:9999;text-align:center;padding-top:40px;opacity: 0.5;filter: alpha(opacity=50)');
   d.innerHTML = "Please Wait...<br/><br/><img src='../img/loading1.gif' border='0' width='100px'>";
   d.style.display = 'block';
   el.appendChild(d);

   #if ( $queryString && $queryString != "" )
   var url = '../div/${moduleId}?$queryString';
   #else
   var url = '../div/${moduleId}';
   #end
   var target = divName;
   
   doAjaxUpdater(document.${formName}, url, target, actionName, qs);
   
   
   blindDown(divName);
}


##This one call ajax without wait indicator
function doDivAjaxCall3${formName}(divName, actionName, qs){


   document.getElementById(divName).style.visibility = 'visible';
   document.getElementById(divName).style.display = 'block';
   
   /*
   var el = document.getElementById(divName);
   var d = document.createElement('div');
   d.setAttribute('id', 'div_wait_indicator');
   d.className = 'shadow';
   d.setAttribute('style', 'width:200px;height:200px;top:50%;left:50%;margin-top: -100px;margin-left: -100px;position:fixed;color:#000;background-color:#fff;z-index:9999;text-align:center;padding-top:40px;opacity: 0.5;filter: alpha(opacity=50)');
   d.innerHTML = "Please Wait...<br/><br/><img src='../img/loading1.gif' border='0' width='100px'>";
   d.style.display = 'block';
   el.appendChild(d);
   */

   #if ( $queryString && $queryString != "" )
   var url = '../div/${moduleId}?$queryString';
   #else
   var url = '../div/${moduleId}';
   #end
   var target = divName;
   
   doAjaxUpdater(document.${formName}, url, target, actionName, qs);
   
}

function doDivAjaxSilentCall${formName}(divName, actionName, qs){

   #if ( $queryString && $queryString != "" )
   var url = '../div/${moduleId}?$queryString';
   #else
   var url = '../div/${moduleId}';
   #end
   var target = divName;
   
   doAjaxUpdater(document.${formName}, url, target, actionName, qs);
   
}

function doDivAjaxChainCall3${formName}(divName, actionName, qs, divName2, actionName2, qs2){

   /*
   #if ( $queryString && $queryString != "" )
   var url = '../div/${moduleId}?$queryString';
   #else
   var url = '../div/${moduleId}';
   #end
   
   document.getElementById(divName).style.visibility = 'visible';
   document.getElementById(divName2).style.visibility = 'visible';
   doAjaxUpdaterChain(document.${formName}, url, divName, actionName, qs, divName2, actionName2, qs2);
   */
   
   
   
    document.getElementById(divName).style.visibility = 'visible';
   document.getElementById(divName).style.display = 'block';
   
   var el = document.getElementById(divName);
   var d = document.createElement('div');
   d.setAttribute('id', 'div_wait_indicator');
   d.className = 'shadow';
   d.setAttribute('style', 'width:200px;height:200px;top:50%;left:50%;margin-top: -100px;margin-left: -100px;position:fixed;color:#000;background-color:#fff;z-index:9999;text-align:center;padding-top:40px;opacity: 0.5;filter: alpha(opacity=50)');
   d.innerHTML = "Please Wait...<br/><br/><img src='../img/loading1.gif' border='0' width='100px'>";
   d.style.display = 'block';
   el.appendChild(d);

   #if ( $queryString && $queryString != "" )
   var url = '../div/${moduleId}?$queryString';
   #else
   var url = '../div/${moduleId}';
   #end
   
   doAjaxUpdaterChain(document.${formName}, url, divName, actionName, qs, divName2, actionName2, qs2);

}

function doDivAjaxCall4${formName}(divName, actionName, qs){

   document.getElementById(divName).style.visibility = 'visible';
   document.getElementById(divName).innerHTML ='<table width="100%" cellpadding="0" cellspacing="0"><tr><td align="center"><img src="../img/indicator.gif"></td></tr></table>';
   
   #if ( $queryString && $queryString != "" )
   var url = '../div/${moduleId}?$queryString';
   #else
   var url = '../div/${moduleId}';
   #end
   var target = divName;
   
   doAjaxUpdater(document.${formName}, url, target, actionName, qs);
	   
}


function blindDown(elementId) {
		  if ( document.all ) element = document.all[elementId];
	  else element = document.getElementById(elementId);
  new Effect.BlindDown(element,{duration:0.5}); 
		  new Effect.Highlight(element,{duration:1.5})
	  	return false;
}

function dnKeyPress(e, div, cmd, par) {
   var characterCode;
   if(e && e.which){
     e = e;
     characterCode = e.which;
   }
   else{
     e = event;
     characterCode = e.keyCode;
   }
   if(characterCode == 13){
     doDivAjaxCall${formName}(div, cmd, par);
     return false;
   }
   else {
     return true;
   }
}

function doDivAjaxCallX${formName}(divName, actionName, qs){
   ##without indicator
   #if ( $queryString && $queryString != "" )
   var url = '../div/${moduleId}?$queryString';
   #else
   var url = '../div/${moduleId}';
   #end
   var target = divName;
   doAjaxUpdater(document.${formName}, url, target, actionName, qs);
   document.getElementById(divName).style.visibility = 'visible';
}

</script>

