
<div class="form-group" style="text-align:right">
	<button type="button" class="btn btn-primary" onclick="sendAjax('findEmployee','div_main','')"><i class="fa fa-plus" aria-hidden="true"></i> Add New Timesheet</button>
</div>

<div class="table-responsive">
<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>Employee Name</th>
			<th>Date</th>
			<th>Time In - Time Out</th>
			<th>Project(s)</th>
			<th>Location(s)</th>
			##<th></th>
		</tr>
	</thead>
	<tbody>
	#foreach( $ts in $timesheets )
		<tr>
			<td>$velocityCount.</td>
			<td>$!ts.employee.name</td>
			<td>$!ts.dateStr</td>
			<td>$!ts.timeInStr - $!ts.timeOutStr</td>
			<td>
				<ul>
				#foreach ( $p in $ts.projects )
					<li>$p.name</li>
				#end
				</ul>
			</td>
			<td>
				<table>
				#foreach ( $l in $ts.locations )
					<tr>
						<td style="width:150px">$l.location.name</td>
						<td>$!l.timeInStr - $!l.timeOutStr</td>
					</tr>
				#end
				</table>
			</td>
			#** 
			<td>
				
				<div class="btn-group">
            		<button type="button" class="btn btn-default btn-xs" onclick="sendAjax('editTimesheet', 'div_main', 'timesheetId=$ts.id')"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            
            		<button type="button" class="btn btn-confirmation btn-default btn-xs"  data-toggle="modal" data-target="#confirmation" onclick="sendAjaxConfirm('Confirm', 'Are you sure to delete this data?', 'deleteTimesheet','div_main','timesheetId=$!ts.id')">
            			<i class="fa fa-trash-o" aria-hidden="true"></i>
            		</button>
            	</div>
				
			</td>
			**#
		</tr>
	#end
    </tbody>
</table>
</table>

#if ( $command == "deleteTimesheet" )
	#if ( $delete_error )
		<script>showWarningMessage("$delete_error");</script>
	#end
#end

