#if ( $command == "deleteUser" )
	#if ( $error )
		<div class="alert alert-danger" onclick="this.style.display='none'">
		  	Can't delete data.
		</div>
	#else
		<div class="alert alert-success" onclick="this.style.display='none'">
		  	Data successfully deleted.
		</div>
	#end
#end

<table id="table_list_users" class="table table-striped">
	<thead>
	<tr>
		<th></th>
		<th>User Name</th>
		<th>User Role</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Initial</th>
		<th></th>
		<th style="width:50px"></th>
	</tr>
	</thead>
	<tbody>
	#foreach ( $userData in $users )
	<tr>
		<td style="cursor:pointer" onclick="sendAjax('editUser', 'user_main', 'userId=$userData.id')"></td>
		<td>$!userData.userName</td>
		<td>$!userData.role.name</td>
		<td>$!userData.firstName</td>
		<td>$!userData.lastName</td>
		<td>$!userData.initial</td>
		<td>
			#if ( $userData.avatarImageFileName && $userData.avatarImageFileName != "" )
			 	<img style="width:40px;border-radius:50%" src="../download?filename=$!userData.avatarImageFileName" />
			#else
				<img style="width:40px;border-radius:50%" src="$util.profilePic.imgSrc" />
			#end
		</td>
		<td align="right">
		
			<button type="button" class="btn btn-default btn-sm" onclick="sendAjax('editUser', 'user_main', 'userId=$userData.id')"><i class="fa fa-pencil" aria-hidden="true"></i></button>

			<button type="button" class="btn btn-confirmation btn-default btn-sm"  data-toggle="modal" data-target="#confirmation" onclick="sendAjaxConfirm('Confirmation', 'Are you sure to delete this user data?', 'deleteUser','user_main','userId=$userData.id')">
				<i class="fa fa-trash-o" aria-hidden="true"></i>
			</button>

		</td>
	</tr>
	#end
	</tbody>
</table>