#if ( $error )
	#set ( $message = "Error change password." )
	#if ( $error == "wrong_old_password" ) 
		#set ( $message = "Wrong old password." )
	#elseif ( $error == "password_confirm_not_match" )
		#set ( $message = "New password and confirm password does not match." )
	#end
	<div id="password_error" class="alert alert-danger" onclick="this.style.display='none'">
	$!message
	</div>
#end