
<div style="text-align:right">
	<button type="button" class="btn btn-primary" onclick="sendAjax('newLeaveApplication','div_main','')"><span><i class="fa fa-file-o" aria-hidden="true"></i></span> New Leave Application</button>
</div>
<br/>
<table class="table">
	<thead<
		<tr>
			<th></th>
			<th>Employee Name</th>
			<th>Leave From</th>
			<th>Leave To</th>
			<th style="text-align:center">Days</th>
			##<th>Apply On</th>
			<th style="text-align:center">Status</th>
			<th></th>
		</tr>
	</thead>
	
	#foreach ( $employeeLeave in $employeeLeaves )
		<tr #if ( $employeeLeave.status == 3 ) class="danger" #elseif ($employeeLeave.status == 2 ) class="success" #end>
			<td style="width:20px">$velocityCount.</td>
			<td>$!employeeLeave.employee.name</td>
			<td>$!employeeLeave.requestFromDateStr</td>
			<td>$!employeeLeave.requestToDateStr</td>
			
			<td style="text-align:center">
				$!employeeLeave.requestedNumberOfDays
				#if ( $employeeLeave.requestedNumberOfDays == 1 ) 
					day 
				#elseif ( $employeeLeave.requestedNumberOfDays > 1 ) 
					days
				#end
			</td>
			
			##<td>$!employeeLeave.requestDateStr</td>
			
			<td style="text-align:center">
				$!employeeLeave.leaveStatusStr
			</td>
			<td style="text-align:right">
				<div class="btn-group">
					<button type="button" class="btn btn-default btn-xs" onclick="sendAjax('editEmployeeLeave','div_main','employeeLeaveId=$!employeeLeave.id')"><span><i class="fa fa-pencil" aria-hidden="true"></i></span></button>
					<button type="button" class="btn btn-default btn-xs" onclick="sendAjax('editEmployeeLeaveStatus','div_main','employeeLeaveId=$!employeeLeave.id')"><span><i class="fa fa-check-square-o" aria-hidden="true"></i></span></button>

				</div>
			</td>
		</tr>
		
	#end
	
</table>

#if ( $command == "deleteEmployeeLeave" )
	#if ( $delete_error )
		<script>showWarningMessage("$delete_error");</script>
	#end
#end
	
