
#if ( $employeeJob.salary.salaryConfig.code )
	
	<div class="form-group" style="text-align:right">
    	<button type="button" class="btn btn-primary" onclick="sendAjax2('listSalaryConfigs','div_salary','employeeJobId=$!employeeJob.id&employeeId=$!employee.id')"><i class="fa fa-pencil" aria-hidden="true"></i> Change Salary Entitlement </button>		
    </div>
	
	<div class="form-group">
		<label>Basic Salary</label>
		<input  name="employeeJobBasicAmount" value="$!employeeJob.salary.basicAmountStr" style="width:150px" type="text" class="form-control">
    </div>
    	
    <div class="form-group" style="text-align:right">
    	<button type="button" class="btn btn-primary" onclick="sendAjax2('updateSalary','div_salary','employeeJobId=$!employeeJob.id&employeeId=$!employee.id')"><i class="fa fa-floppy-o" aria-hidden="true"></i> Update </button>		
    	<button type="button" class="btn btn-success" onclick="sendAjax2('viewSalary','div_salary','employeeJobId=$!employeeJob.id&employeeId=$!employee.id')"><i class="fa fa-money" aria-hidden="true"></i> View Pay Slip </button>		
    </div>

	
	<div class="section_title">Salary Allowances</div>
	#parse("apps/manageEmployees/listAllowances.vm")
	
	<div class="section_title">Salary Deductions</div>
	#parse("apps/manageEmployees/listDeductions.vm")
	
	<br/>
	


#else
	
	Salary entitlement not set.  Plese select.<br/><br/>
	
<div class="form-group" style="text-align:right">
	<button type="button" class="btn btn-success" onclick="sendAjax2('listSalaryConfigs','div_salary','employeeJobId=$!employeeJob.id&employeeId=$!employee.id')"><i class="fa fa-pencil" aria-hidden="true"></i> Select Salary Entitlement </button>		
</div>	

#end
	

#if ( $command == "updateSalary" )
	<script>showNotifyMessage("Salary Updated!");</script>
#end
