
<div class="section_title">Personal Biodata</div>

	
<div id="div_edit"  #if ( $employee ) style="display:none" #end>
    <div class="form-group">
    	<label>Emp. No.</label>
    	<input  name="employeeIdNumber" value="$!employee.IdNumber" data-required="true" data-msg="Please enter Id Number" type="text" class="form-control">
    </div>
    
    <div class="form-group">
    	<label>Name</label>
    	<input  name="employeeName" value="$!employee.name" data-required="true" data-msg="Please enter employee Name" type="text" class="form-control">
    </div>
    
    
    <div class="form-group" style="text-align:right">

    	<button type="button" class="btn btn-link" onclick="$('div_edit').style.display = 'none'; $('div_view').style.display = 'block';"> Cancel</button>	
    	#if ( $employee )
    		<button type="button" class="btn btn-primary" onclick="saveData('updateEmployee','div_main','employeeId=$!employee.id')"><span><i class="fa fa-floppy-o" aria-hidden="true"></i></span> Update </button>		
    	#else
    		<button type="button" class="btn btn-primary" onclick="saveData('saveNewEmployee','div_main','')"><span><i class="fa fa-floppy-o" aria-hidden="true"></i></span> Save </button>
    	#end
    </div>
</div>
<div id="div_view" #if ( !$employee ) style="display:none" #end>
	<table class="table">
		<tr><td class="line_title">Emp. No.</td><td class="line_sep">:</td><td class="line_data">$!employee.IdNumber</td></tr>
		<tr><td class="line_title">Name</td><td class="line_sep">:</td><td class="line_data">$!employee.name</td></tr>
	</table>
	
	  <div class="form-group" style="text-align:right">
    	<button type="button" class="btn btn-link" onclick="sendAjax2('listEmployees','div_main','')"><span><i class="fa fa-pencil-times" aria-hidden="true"></i></span> Back</button>	
    	<button type="button" class="btn btn-primary" onclick="$('div_edit').style.display = 'block'; $('div_view').style.display = 'none';"> <i class="fa fa-pencil" aria-hidden="true"></i> Edit </button>		

    </div>
</div>
	
#if ( $employee )
	<div class="section_title">Job Assignments</div>
	
	<div id="div_jobs">
		#if ( $employee.jobs.size() == 0 )
			<div class="form-group">
				No Job Yet.  Please Add.
			</div>
			<div class="form-group" style="text-align:right">
				<button type="button" class="btn btn-success" onclick="sendAjax('addNewEmployeeJob','div_jobs','employeeId=$!employee.id')"><span><i class="fa fa-plus" aria-hidden="true"></i></span> Add Job </button>
			</div>	
		#else
			#parse("apps/manageEmployees/listEmployeeJobs.vm")
		#end

	</div>
		
#end


 