

#if ( !$employee.leaveEntitlement )
	<div class="form-group">
		Leave entitlement not defined.  Please define.
	</div>

#else
	
    <table class="table">
    	<tr><td class="line_title">Category</td><td class="line_sep">:</td><td class="line_data">$!employee.leaveEntitlement.code</td></tr>
       	<tr>
			<td class="line_title">Leaves Entitled</td><td class="line_sep">:</td><td class="line_data">

				<table class="table">
                	#foreach ( $item in $employee.leaveEntitlement.items )
                		<tr>
                			<td>$velocityCount)</td>
                			<td>$!item.leave.code</td>
                			<td>$!item.leave.name</td>
                			<td>#if ( $!item.leave.paid ) Paid #else Unpaid #end</td>
                			<td>$!item.numberOfDays days</td>	
                		</tr>
                	#end
                	
                </table>
				
				
			</td>
		</tr>
 </table>
	
#end

<div class="form-group" style="text-align:right">
	<button type="button" class="btn btn-success" onclick="sendAjax2('selectLeaveEntitlement','div_leave','employeeId=$!employee.id')"><span><i class="fa fa-pencil" aria-hidden="true"></i></span> Leave Entitlement </button>
</div>	