
<table class="table">
	
	<thead>
		<tr>
			<th style="width:10px"></th>
			<th>Name</th>
			<th>Position</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	#foreach( $employee in $employees )
		<tr>
			<td style="cursor:pointer" onclick="sendAjax('editEmployee','div_main','employeeId=$!employee.id')">$velocityCount.</td>
			<td>
				$!employee.idNumber<br/>
				$!employee.name
			</td>
			<td>
				$!employee.job.name<br/>
				$!employee.department.name<br/>
				$!employee.department.company.name
				
			</td>
			<td style="text-align:right">
				<div class="btn-group">
				<button type="button" class="btn btn-success btn-xs" onclick="sendAjax('editEmployee','div_main','employeeId=$!employee.id')"><i class="fa fa-pencil" aria-hidden="true"></i></button>
				<button type="button" class="btn btn-confirmation btn-danger btn-xs"  data-toggle="modal" data-target="#confirmation" onclick="sendAjaxConfirm('Confirm', 'Are you sure to delete this data?', 'deleteEmployee','div_main','employeeId=$employee.id')">
    				<i class="fa fa-trash-o" aria-hidden="true"></i>
    			</button>
				</div>
			</td>
		</tr>
	#end
	</tbody>
</table>
	
<div class="form-group" style="text-align:left">
	<button type="button" class="btn btn-success" onclick="sendAjax('addNewEmployee','div_main','')"><span><i class="fa fa-plus" aria-hidden="true"></i></span> Add </button>
</div>	

#if ( $command == "deleteEmployee" )
	#if ( $delete_error )
		<script>showWarningMessage("$delete_error");</script>
	#end
#end