
<table class="table">
	
	<tbody >
		#foreach ( $employeeJob in $employee.jobs )
			
			<tr><td class="line_title">Designation</td><td class="line_sep">:</td><td class="line_data">$employeeJob.job.name</td></tr>
			#if ( $employee.jobs.size() > 1 && $employeeJob.primaryJob )
			<tr><td class="line_title">Primary Job?</td><td class="line_sep">:</td><td class="line_data">Yes</td></tr>
			#end
			<tr><td class="line_title">Department</td><td class="line_sep">:</td><td class="line_data">$employeeJob.department.name</td></tr>
			<tr><td class="line_title">Company</td><td class="line_sep">:</td><td class="line_data">$employeeJob.department.company.name</td></tr>
			
			<tr><td class="line_title">Appointment Date</td><td class="line_sep">:</td><td class="line_data">$employeeJob.startDateStr</td></tr>
			<tr><td class="line_title">Exit Date</td><td class="line_sep">:</td><td class="line_data">$employeeJob.endDateStr</td></tr>

			<tr>
    			<td colspan="3" style="text-align:right">
    				<div class="btn-group">
    				<button type="button" class="btn btn-success btn-xs" onclick="sendAjax2('editEmployeeJob','div_jobs','employeeJobId=$!employeeJob.id')"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    				<button type="button" class="btn btn-confirmation btn-danger btn-xs"  data-toggle="modal" data-target="#confirmation" onclick="sendAjaxConfirm('Confirm', 'Are you sure to delete this data?', 'deleteEmployeeJob','div_jobs','employeeJobId=$!employeeJob.id&employeeId=$!employee.id')">
        				<i class="fa fa-trash-o" aria-hidden="true"></i>
        			</button>
    				</div>
    			</td>				
			</tr>
		#end
    </tbody>
</table>
	


<div class="form-group" style="text-align:right">
	<button type="button" class="btn btn-success" onclick="sendAjax2('addNewEmployeeJob','div_jobs','employeeId=$!employee.id')"><span><i class="fa fa-plus" aria-hidden="true"></i></span> Add Job </button>
</div>	

#if ( $command == "deleteEmployeeJob" )
	#if ( $delete_error )
		<script>showWarningMessage("$delete_error");</script>
	#end
#end