
<table class="table">
	
	<tr>
		<th style="width:10px"></th>
		<th>State</th>
		<th>Weekend</th>
	</tr>
	#foreach( $state in $states )
		<tr>
			<td>$velocityCount.</td>
			<td>$state.name</td>
			<td>
				<input type="hidden" name="stateIds" value="$state.id">
				<select name="weekendType_$!{state.id}" class="form-control">
					<option value="0"> - Please select - </option>
                    <option value="1" #if ( $state.weekendType == 1 ) selected #end>Saturday and Sunday</option>
					<option value="2" #if ( $state.weekendType == 2 ) selected #end>Friday and Saturday</option>
					<option value="3" #if ( $state.weekendType == 3 ) selected #end>Sunday only</option>
					<option value="4" #if ( $state.weekendType == 4 ) selected #end>Saturday only</option>
					<option value="5" #if ( $state.weekendType == 5 ) selected #end>Friday only</option>
				</select>
			
			</td>
			
		</tr>
	#end
	
</table>
	
<div class="form-group" style="text-align:right">
	<button type="button" class="btn btn-success" onclick="sendAjax('updateStates','div_main','')"><i class="fa fa-pencil-o" aria-hidden="true"></i> Save</button>

</div>