
<table class="table">
	
	<thead>
		<tr>
			<th style="width:10px"></th>
			<th>Name</th>
			<th>Description</th>
			<th style="text-align:center">Amount</th>
		</tr>
	</thead>
	<tbody>
	#foreach( $allowance in $allowances )
		<tr>
			<td><input name="allowanceIds" type="checkbox" value="$!allowance.id"></td>
			<td>$allowance.name</td>
			<td>$allowance.description</td>
			<td style="text-align:center">$util.formatDecimal($allowance.amount)</td>
			
		</tr>
	#end
	</tbody>
</table>
	
<div class="form-group" style="text-align:left">

	<button type="button" class="btn btn-link" onclick="sendAjax2('listSalaryAllowances','div_allowances','salaryConfigId=$!salaryConfig.id')">Cancel</button>	
	<button type="button" class="btn btn-primary" onclick="sendAjax2('saveSelectAllowances','div_allowances','salaryConfigId=$!salaryConfig.id')"><i class="fa fa-plus" aria-hidden="true"></i>Select </button>

</div>	

