
<table class="table">
	
	<thead>
		<tr>
			<th style="width:10px"></th>
			<th>Name</th>
			<th>Description</th>
			<th style="text-align:center">Use Rate?</th>
			<th style="text-align:center">Rate on<br/> Basic Only?</th>
			<th style="text-align:center">Rate</th>
			<th style="text-align:center">Amount</th>
		</tr>
	</thead>
	<tbody>
	#foreach( $deduction in $deductions )
		<tr>
			<td><input name="deductionIds" type="checkbox" value="$!deduction.id"></td>
			<td>$deduction.name</td>
			<td>$deduction.description</td>
			<td style="text-align:center">#if ( $deduction.useRate ) Yes #else No #end</td>
			<td style="text-align:center">#if ( $deduction.useRate ) #if ( $deduction.rateOnBasicOnly ) Yes #else No #end #else - #end</td>
			<td style="text-align:center">#if ( $deduction.useRate ) $deduction.rate % #else - #end</td>
			<td style="text-align:center">#if ( !$deduction.useRate ) $util.formatDecimal($deduction.amount) #else - #end</td>
			
		</tr>
	#end
	</tbody>
</table>
	
<div class="form-group" style="text-align:left">

	<button type="button" class="btn btn-link" onclick="sendAjax2('listSalaryDeductions','div_deductions','salaryConfigId=$!salaryConfig.id')">Cancel</button>	
	<button type="button" class="btn btn-primary" onclick="sendAjax2('saveSelectDeductions','div_deductions','salaryConfigId=$!salaryConfig.id')"><i class="fa fa-plus" aria-hidden="true"></i>Select </button>

</div>	

