
 <table class="table">
    	
    	<thead>
    		<tr>
    			<th style="width:10px"></th>
    			<th>Name</th>
    			<th>Description</th>
    			<th style="text-align:center">Amount</th>
    			<th></th>
    		</tr>
    	</thead>
    	<tbody>
    	#foreach( $allowance in $salaryConfig.allowances )
    		<tr>
    			<td>$velocityCount.</td>
    			<td>$allowance.name</td>
    			<td>$allowance.description</td>
    			<td style="text-align:center">$util.formatDecimal($allowance.amount)</td>
    			<td style="text-align:right">
    				<div class="btn-group">
    				<button type="button" class="btn btn-confirmation btn-danger btn-xs"  data-toggle="modal" data-target="#confirmation" onclick="sendAjaxConfirm('Confirm', 'Are you sure to delete this data?', 'removeAllowance','div_allowances','allowanceId=$allowance.id&salaryConfigId=$!salaryConfig.id')">
        				<i class="fa fa-trash-o" aria-hidden="true"></i>
        			</button>
    				</div>
    			</td>
    		</tr>
    	#end
    	</tbody>
    </table>
    
    <div class="form-group" style="text-align:left">
    	<button type="button" class="btn btn-success" onclick="sendAjax2('selectSalaryAllowances','div_allowances','salaryConfigId=$!salaryConfig.id')"><i class="fa fa-plus" aria-hidden="true"></i> Add </button>
    </div>	