

<div style="font-weight:bold; font-size:18pt">$c.title </div>

<table class="table table-hover">
	#foreach( $d in [1..$c.totalDays] )
		<tr 
			#if ( $c.isPublicHoliday($d) )
				style="background-color:#add0ed" 
			#elseif ( $c.getApproveLeaves($d).size() > 0 ) 
				style="background-color:#d3edda" 
			#elseif ( $c.getRequestLeaves($d).size() > 0 )
				style="background-color:#fadb93" 
			#end
		>
			<td style="width:30px;">$c.getDayName($d)</td>
			<td style="width:20px;text-align:right;font-size:18pt">$d</td>
			<td> 
				#if ( $c.getApproveLeaves($d).size() > 0 )
					<table>
						#foreach ( $e in $c.getApproveLeaves($d) )
							<tr><td style="width:20px"><i class="fa fa-check-square-o" aria-hidden="true"></i></td><td>$e.leave.name</td></tr>
						#end
					</table>
				#end
				
				#if ( $c.getRequestLeaves($d).size() > 0 )
					<table>
						#foreach ( $r in $c.getRequestLeaves($d) )
							<tr><td style="width:20px"><i class="fa fa-square-o" aria-hidden="true"></i></td><td>$r.leave.name (PENDING APPROVAL)</td></tr>
						#end
					</table>
				#end
				
				#if ( $c.getEvents($d).size() > 0 )
					<table>
						#foreach ( $e in $c.getEvents($d) )
							<tr><td style="width:20px"><i class="fa fa-calendar" aria-hidden="true"></i></td><td>$e.name</td></tr>
						#end
					</table>
				#end
			</td>
		</tr>
	#end
</table>