
<div style="padding:10px;">
<div class="jumbotron well" style="margin-top:20px">
  <h2>Light and Easy Business Architecture &reg;</h2>      
  <p>
  A Modular Content Collaboration Development Framework using the Java Technology.
  </p>
</div>
<div class="jumbotron well">
  <h2>IQWAN Student & Campus Management System</h2>      
  <p>
  	A solution designed specifically to support the day to day management of students' 
  	academic records in University, College or School. 
  </p>
</div>

</div>

