
<div class="form-group">
	<label>Company Name</label>
	<input  name="companyName" value="$!company.name" data-required="true" data-msg="Please enter Company Name" type="text" class="form-control">
</div>
	
<div class="form-group">
	<label>Company Registration Number</label>
	<input name="companyRegistrationNumber" value="$!company.registrationNumber" data-required="true" data-msg="Please enter Registration Number" type="text" class="form-control">
</div>
	
<div class="form-group" style="text-align:right">
	<button type="button" class="btn btn-link" onclick="sendAjax('listCompanies','div_main','')"><span><i class="fa fa-pencil-times" aria-hidden="true"></i></span> Cancel</button>
	#if ( $company )
		<button type="button" class="btn btn-primary" onclick="saveData('updateCompany','div_main','companyId=$!company.id')"><span><i class="fa fa-floppy-o" aria-hidden="true"></i></span> Update </button>
	#else
		<button type="button" class="btn btn-primary" onclick="saveData('saveNewCompany','div_main','')"><span><i class="fa fa-floppy-o" aria-hidden="true"></i></span> Save </button>
	#end
</div>
	

#if ( $company )
	
	<div class="section_title">Offices</div>
	
	<div id="div_office">
		#if ( $company.offices.size() == 0 )
			<div class="form-group">
				No Office Yet.  Please Add.
			</div>
			<div class="form-group" style="text-align:right">
				<button type="button" class="btn btn-success" onclick="sendAjax('addNewOffice','div_office','companyId=$!company.id')"><span><i class="fa fa-plus" aria-hidden="true"></i></span> Add Office </button>
			</div>	
		#else
			#parse("apps/companyHQ/listOffices.vm")
		#end

	</div>
	
	<div class="section_title">Departments</div>
	
	<div id="div_dept">
		#if ( $company.departments.size() == 0 )
			<div class="form-group">
				No Department Yet.  Please Add.
			</div>
			<div class="form-group" style="text-align:right">
				<button type="button" class="btn btn-success" onclick="sendAjax('addNewDepartment','div_dept','companyId=$!company.id')"><span><i class="fa fa-plus" aria-hidden="true"></i></span> Add Department </button>
			</div>	
		#else
			#parse("apps/companyHQ/listDepartments.vm")
		#end

	</div>
	
#end