<div id="div_company">
    <div class="form-group">
    	Company Name<br/>
    	<span style="font-weight:bold;font-size:14pt">$!company.name</span>
    </div>
    	
    <div class="form-group">
    	Company Registration Number<br/>
    	<span style="font-weight:bold;font-size:14pt">$!company.registrationNumber</span>
    </div>
    	
    <div class="form-group" style="text-align:right">
    	<button type="button" class="btn btn-link" onclick="sendAjax('listCompanies','div_main','')"> Back</button>
    	<button type="button" class="btn btn-primary" onclick="$('div_company').style.display='none';$('div_company_edit').style.display='block'"><span><i class="fa fa-pencil" aria-hidden="true"></i></span> Edit </button>

    </div>	
	
</div>

<div id="div_company_edit" style="display:none;padding:10px;background:#ebebeb">
    <div class="form-group">
    	<label>Company Name</label>
    	<input  name="companyName" value="$!company.name" data-required="true" data-msg="Please enter Company Name" type="text" class="form-control">
    </div>
    	
    <div class="form-group">
    	<label>Company Registration Number</label>
    	<input name="companyRegistrationNumber" value="$!company.registrationNumber" data-required="true" data-msg="Please enter Registration Number" type="text" class="form-control">
    </div>
    	
    <div class="form-group" style="text-align:right">
    	<button type="button" class="btn btn-link" onclick="$('div_company').style.display='block';$('div_company_edit').style.display='none'"> Cancel</button>
    	#if ( $company )
    		<button type="button" class="btn btn-primary" onclick="saveData('updateCompany','div_main','companyId=$!company.id')"><span><i class="fa fa-floppy-o" aria-hidden="true"></i></span> Update </button>
    	#else
    		<button type="button" class="btn btn-primary" onclick="saveData('saveNewCompany','div_main','')"><span><i class="fa fa-floppy-o" aria-hidden="true"></i></span> Save </button>
    	#end
    </div>
</div>	

#if ( $company )
	
	<div class="section_title">Offices</div>
	
	<div id="div_office">
		#if ( $company.offices.size() == 0 )
			<div class="form-group">
				No Office Yet.  Please Add.
			</div>
			<div class="form-group" style="text-align:right">
				<button type="button" class="btn btn-success" onclick="sendAjax('addNewOffice','div_office','companyId=$!company.id')"><span><i class="fa fa-plus" aria-hidden="true"></i></span> Add Office </button>
			</div>	
		#else
			#parse("apps/companyHQ/listOffices.vm")
		#end

	</div>
	
	<div class="section_title">Departments</div>
	
	<div id="div_dept">
		#if ( $company.departments.size() == 0 )
			<div class="form-group">
				No Department Yet.  Please Add.
			</div>
			<div class="form-group" style="text-align:right">
				<button type="button" class="btn btn-success" onclick="sendAjax('addNewDepartment','div_dept','companyId=$!company.id')"><span><i class="fa fa-plus" aria-hidden="true"></i></span> Add Department </button>
			</div>	
		#else
			#parse("apps/companyHQ/listDepartments.vm")
		#end

	</div>
	
#end