.font_title { font-size:14pt; }
.font_welcome { font-size:8pt;  }
.font_login { font-size:8pt; }
.login_input { font-size:8pt;}
.login_button { font-size:8pt;}
.button_top { font-size:8pt;}
.font_footer { font-size:8pt; }
.font_role { font-size:8pt; }
.font_role_select { font-size:8pt; }

a.nav_link { font-size:8pt; }
a:hover.nav_link { font-size:8pt; }

a.nav_link_active { font-size:8pt;}
a:hover.nav_link_active { font-size:8pt;}


td.pulldown_menu
{
font-size:8pt;
}

td.pulldown_menu_selected
{
font-size:8pt;
}

a.tab_link { font-size:10pt; }
a.tab_link_active { font-size:10pt;}
a:hover.tab_link { font-size:10pt; }
a:hover.tab_link_active {font-size:10pt;  }

/*
	Tab's Title for Top navigation
*/
.tab_title
{
	font-size: 16pt;
}


/*
    Module Title 
*/
.module_title 
{ 
    font-size: 10pt;
}
/*
    Table elements
*/
td { font-size: 8pt; }

