
<div class="row">
  	<div class="col-sm-4">
  	
	  	<div class="form-group">
			<label for="userDataName">Username</label>
			<input type="text" maxlength="100" #if ( $userData ) readonly #end class="form-control" value="$!userData.userName"  placeholder="">
		</div>
  	
  	</div>
  	<div class="col-sm-4">
 
	  	<div class="form-group">
			<label for="firstName">Primary Role</label>
			<input type="text" maxlength="100" #if ( $userData ) readonly #end class="form-control" value="$!userData.role.name"  placeholder="">

		</div>
		  	
  	</div>
  	
  	<div class="col-sm-4">
 
	  	<div class="form-group">
	  		<label for="otherRole">Secondary Roles</label>
			<ul>
			#foreach ( $role in $user.secondaryRoles )
				<li>&nbsp;$role.name
			#end
			</ul>
		</div>
		  	
  	</div>

</div>

<div class="row">

  	<div class="col-sm-4">
 
	  	<div class="form-group">
			<label for="firstName">First Name</label>
			<input data-required="true" data-msg="First Name is required." type="text" maxlength="100" class="form-control" id="firstName" name="firstName" value="$!userData.firstName"  placeholder="">
		</div>
		  	
  	</div>
  	<div class="col-sm-4">

	  	<div class="form-group">
			<label for="lastName">Last Name</label>
			<input type="text" maxlength="100" class="form-control" id="lastName" name="lastName" value="$!userData.lastName"  placeholder="">
		</div>
		  	
  	</div>
  	
  	<div class="col-sm-4">

	  	<div class="form-group">
			<label for="initial">Initial</label>
			<input type="text" maxlength="100" class="form-control" id="initial" name="initial" value="$!userData.initial"  placeholder="">
		</div>
		  	
  	</div>
  	  	
</div>

<div class="row">

  	<div class="col-sm-3">
 
	  	<div class="form-group">
			<label for="position">Position</label>
			<input type="text" maxlength="100" class="form-control" id="position" name="position" value="$!userData.position"  placeholder="">
			<label for="department">Department</label>
			<input type="text" maxlength="100" class="form-control" id="department" name="department" value="$!userData.department"  placeholder="">

		</div>
		  	
  	</div>
  	<div class="col-sm-3">

	  	<div class="form-group">
			<label for="telephone">Telephone</label>
			<input type="text" maxlength="100" class="form-control" id="telephone" name="telephone" value="$!userData.telephone"  placeholder="">
		</div>
		  	
  	</div>
  	
  	<div class="col-sm-3">

	  	<div class="form-group">
			<label for="fax">Fax</label>
			<input type="text" maxlength="100" class="form-control" id="fax" name="fax" value="$!userData.fax"  placeholder="">
		</div>
		  	
  	</div>
  	
  	<div class="col-sm-3">

	  	<div class="form-group">
			<label for="email">Email</label>
			<input type="email" maxlength="100" class="form-control" id="email" name="email" value="$!userData.email"  placeholder="">
		</div>
		  	
  	</div>  	
  	  	
</div>


## Image Upload
#if ( $userData )

<div class="row">

  	<div class="col-sm-6">
 
		<div class="form-group">
		  <label for="itemDescription">User Profile Image</label>
	
		  <div>
			  <div class="col-sm-6">
				<input class="form-control" type="file" id="avatarFileName" name="avatarFileName">
			  </div>
			  <div class="col-sm-6">
				<button class="btn btn-default" type="button" value="Upload" onclick="uploadFile('uploadFile', 'avatarFileName', 'divUploadFile1', 'userId=$!userData.id&imageType=profile')">Upload</button>
			  </div>
		  </div>
		  
		  <div style="padding:10px;margin-top:50px">
		  	
		  	<div id="divUploadFile1">
		  	#if ( $userData.avatarImageFileName )
		  		<img style="width:100px" src="../download?filename=$!userData.avatarImageFileName" />
		  	#end
		  	</div>
		  	
		  </div>
		  
		</div>

  	</div>
  	<div class="col-sm-6">
		<div class="form-group">
		  <label for="itemDescription">User Signature Image</label>
			  	
		  <div>
			  <div class="col-sm-6">
				<input class="form-control" type="file" id="signatureFileName" name="signatureFileName">
			  </div>
			  <div class="col-sm-6">
				<button class="btn btn-default" type="button" value="Upload" onclick="uploadFile('uploadFile', 'signatureFileName', 'divUploadFile2', 'userId=$!userData.id&imageType=signature')">Upload</button>
			  </div>
		  </div>
		  
		  <div style="padding:10px;margin-top:50px">
			  	<div id="divUploadFile2">
			  	#if ( $userData.signatureImageFileName )
			  		<img style="height:100px" src="../download?filename=$!userData.signatureImageFileName" />
			 		<br/>
			  	#end
			  	</div>
		  </div>
		  
		</div>

		  	
  	</div>
  	

  	  	
</div>


#end

<div class="form-group" style="text-align:right">
	<button type="button" class="btn btn-success" onclick="saveData('save', 'user_main', '')">Save&nbsp;<i class="fa fa-floppy-o" aria-hidden="true"></i></button>
</div>
