<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    
        <property name="hbm2ddl.auto">update</property> 
		
		<!--  HIKARI -->
		
		<property name="connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>
		<property name="hibernate.hikari.minimumIdle">5</property> 
		<property name="hibernate.hikari.maximumPoolSize">10</property>
		<property name="hibernate.hikari.idleTimeout">3000</property> 
		
		
             
        <mapping class="lebah.db.entity.User"/>
        <mapping class="lebah.db.entity.Role"/>
        <mapping class="lebah.db.entity.Menu"/>
        <mapping class="lebah.db.entity.Log"/>
        
        
        <mapping class="hrm.entity.Company" />
        <mapping class="hrm.entity.CompanySubsidiary" />
        <mapping class="hrm.entity.CompanyHQ" />
        <mapping class="hrm.entity.Office" />
        <mapping class="hrm.entity.Department" />
        <mapping class="hrm.entity.Country" />
        <mapping class="hrm.entity.State" />
        <mapping class="hrm.entity.District" />
        <mapping class="hrm.entity.Employee" />
        <mapping class="hrm.entity.Job" />
        <mapping class="hrm.entity.JobLevel" />
        <mapping class="hrm.entity.EmployeeJob" />
        <mapping class="hrm.entity.SalaryConfig" />
        <mapping class="hrm.entity.SalaryDeductionItem" />
        <mapping class="hrm.entity.SalaryAllowance" />
        <mapping class="hrm.entity.SalaryItem" />
        <mapping class="hrm.entity.Leave" />
        <mapping class="hrm.entity.LeaveEntitlement" />
        <mapping class="hrm.entity.LeaveEntitlementItem" />
        <mapping class="hrm.entity.EmployeeLeave" />
        <mapping class="hrm.entity.EventCalendar" />
        <mapping class="hrm.entity.LeaveCarryForward" />
       	<mapping class="hrm.entity.Timesheet" /> 
     	<mapping class="hrm.entity.Project" />
     	
     	<mapping class="hrm.entity.Location" />
     	<mapping class="hrm.entity.MyCalendarNotes" />
     	<mapping class="hrm.entity.TimesheetLocation" />
     	<mapping class="hrm.entity.Client" />
     	
     	   
        <mapping class="hrm.entity.Timedemo" /> 
    </session-factory>
</hibernate-configuration>
